body{
     display:            flex;
     justify-content:    center;
     font-family:        monospace;
     font-size:          16px;
}

#cursor{
     background-color:   #000000;
     position:           absolute;
     width:              2px;
     height:             18px;
     z-index:            1;
}

#page{
     margin-top:    4rem;
     height:        100rem;
     width:         80rem;
     resize:        none;
}
